/* css styles */

/* Add margin between text and image when the screen is wide enough */
@media (min-width: 768px) {
  .about-entity .about-image {
    margin-left: 4.5em;
  }
}

.quarto-page-footer {
  white-space: nowrap;
}

footer.footer {
  font-size: 0.9em;
}

.alt-url a {
  text-decoration: none;
  font-weight: bold;
}
